<div>
    <h1>My Profile</h1>
    <fieldset class="form-group">
        <label>Email address: {{user.email}}</label>
    </fieldset>
    <fieldset class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="{{user.firstName}}"
               ng-model="edit.firstName">
    </fieldset>
    <fieldset class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="{{user.lastName}}"
               ng-model="edit.lastName">
    </fieldset>
    <fieldset class="form-group">
        <label>Zip Code</label>
        <input type="text" class="form-control" placeholder="{{user.zip}}"
               ng-model="edit.zip">
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-click="makeEdits()">
        Change Password</button>
    <button type="button" class="btn btn-warning" ng-click="makeEdits()">
        Make Edits
    </button>

</div>
