<div class="modal-header">
   <h3 class="modal-title">{{dlgTitle}}</h3>
</div>
<div class = "modal-body">
   <form>
      <fieldset class="form-group">
         <label>New Title</label>
         <input type="text" class="form-control" placeholder="{{item.title}}" 
          ng-model="title">
      </fieldset>
      <fieldset class="form-group">
         <label>New Description</label>
         <input type="textarea" class="form-control" ng-model="desc" 
         rows="5" placeholder="{{item.description}}">
      </fieldset>
      <fieldset class="form-group">
         <label>New Price in Dollars</label>
         <input type="number" class="form-control"
          placeholder="{{(item.price / 100).toFixed(2)}}" 
          ng-model="price">
      </fieldset>
      <fieldset class="form-group">
         <label>Image</label>
         <input type="file" accept="image/*" file-model="itemImage">
      </fieldset>
   </form>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-primary"
    ng-disabled="!title && !desc && !price"
    ng-click="$close({title: title, desc: desc, price: price})">
      OK
   </button>
   <button type="button" class="btn btn-warning" ng-click="$dismiss()">
      Cancel
   </button>
</div>
